* {
  box-sizing: border-box;
}
body {
  font-family: 'Roboto', sans-serif;
  background-color: #fff;
}
.header {
  border-bottom: 1px solid #dbdbdb;
  background-color: #fff;
  width: 100%;
  margin: auto;
  position: fixed;
  left: 0;
  right: 0;
  z-index: 2;
}
.header-mobile {
  display: none;
}
.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 0;
  font-size: 22px;
  width: 935px;
  margin: auto;
}
.container > div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 150px;
  height: 22px;
}

.borda-vertical {
  height: 100%;
  width: 1px;
  background-color: #dbdbdb;
}

.main {
  margin: auto;
  width: 935px;
  height: 100%;
  display: flex;
  justify-content: space-between;
  padding-top: 90px;
}

.content {
  display: flex;
  flex-direction: column;
  width: 614px;
}
.stories {
  position: absolute;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 614px;
  height: 118px;
  border-radius: 3px;
  border: 1px solid #dbdbdb;
  overflow: hidden;
}
.stories > div {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.background-stories {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(./images/stories_background.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 66px;
  height: 66px;
}

.stories img {
  width: 56px;
  height: 56px;
  border-radius: 50%;
}
.stories div {
  margin-right: 13.5px;
  margin-top: 4px;
}
.stories p {
  font: 400 12px 'Roboto', sans-serif;
  color: #262626;
}
.seta {
  position: absolute;
  color: #ffffff;
  font-size: 32px;
  left: 578px;
}
.posts {
  margin-top: 118px;
  width: 100%;
  height: 100%;
}
.post {
  margin-top: 60px;
  border: 1px solid #dbdbdb;
  border-radius: 3px;
}
.post:first-child {
  margin-top: 24px;
}
.header-post {
  padding: 10px 15px;
  display: flex;
  justify-content: space-between;
}
.header-post div:last-child {
  display: flex;
  justify-content: flex-end;
}
.header-post div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
}
.header-post h2 {
  font: 500 14px 'Roboto', sans-serif;
  color: #262626;
}
.header-post img {
  width: 32px;
  height: 32px;
  border-radius: 50%;
}
.img-post img {
  width: 100%;
}
.video-post video {
  width: 100%;
}
.icons-post {
  padding: 10px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.icons-post ion-icon {
  margin-right: 14px;
  font-size: 22px;
}
.icons-post ion-icon:last-child {
  margin-right: 0px;
  font-size: 22px;
}
.likes-post {
  padding: 10px 15px 0 15px;
  display: flex;

  align-items: center;
}
.likes-post img {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin-right: 5px;
}
.likes-post p {
  font: 300 14px 'Roboto', sans-serif;
}
.likes-post span {
  font: 500 14px 'Roboto', sans-serif;
}
.coments {
  padding: 0 15px 10px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 22px;
}
.coments p {
  font: 300 14px 'Roboto', sans-serif;
}
.coments strong {
  font-weight: bold;
}
.add-coments {
  padding: 10px 15px;
  display: flex;
  border-top: 1px solid #dbdbdb;
  align-items: center;
  font-size: 22px;
  width: 100%;
}

.add-coments div:first-child {
  margin-right: 10px;
}
.add-coments div:nth-child(2) {
  width: 85%;
}
.add-coments input {
  width: 80%;
  padding: 5px 0;
  border: none;
}
.add-coments input:focus {
  outline: none;
}
.add-coments button {
  background-color: #b2dffc;
  border: none;
  padding: 5px 5px;
  border-radius: 3px;
  color: white;
  transition: background 0.3s;
}
.add-coments button:hover {
  background-color: #0095f6;
}
.bottom-bar {
  display: none;
}
.sidebar {
  padding: 25px 0;
  background-color: #fff;
  z-index: 0;
  display: flex;
  flex-direction: column;
  width: 293px;
  position: sticky;
  top: 90px;
  height: 100%;
}
.user-perfil {
  display: flex;
  align-items: center;
}
.user-perfil img {
  width: 56px;
  height: 56px;
  border-radius: 50%;
  margin-right: 17px;
}
.user-perfil h2 {
  font: 500 14px 'Roboto', sans-serif;
}
.user-perfil h3 {
  font: 300 14px 'Roboto', sans-serif;
}
.suggestion {
  margin-top: 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font: 500 12px 'Roboto', sans-serif;
}

.suggestion h2 {
  color: #8e8e8e;
}
.suggestion h3 {
  color: #262626;
}
.suggestion-perfil {
  margin-top: 17px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.suggestion-perfil div {
  display: flex;
  align-items: center;
}

.suggestion-perfil div div {
  flex-direction: column;
  align-items: flex-start;
}
.suggestion-perfil img {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  margin-right: 17px;
}
.suggestion-perfil h2 {
  font: 500 14px 'Roboto', sans-serif;
  color: #262626;
}
.suggestion-perfil h3 {
  font: 300 12px 'Roboto', sans-serif;
  color: #8e8e8e;
}
.suggestion-perfil span {
  font: 300 12px 'Roboto', sans-serif;
  color: #139ef2;
}
.footer-sidebar {
  margin-top: 33px;
  font: 300 11px 'Roboto', sans-serif;
  color: #c7c7c7;
}
.footer-sidebar h2 {
  margin-top: 18px;
}
@media (max-width: 935px) {
  .container {
    width: 100%;
    padding: 15px;
  }
  .stories {
    margin: auto;
    width: 595px;
  }
  .stories div {
    margin-right: 12.5px;
  }
  .seta {
    left: 560px;
  }
  .main {
    width: 595px;
  }
  .sidebar {
    display: none;
  }
  .content {
    display: flex;
    flex-direction: column;
    width: 595px;
    margin: auto;
  }
  .add-coments input {
    width: 480px;
  }
}
@media (max-width: 614px) {
  .container {
    width: 100%;
    padding: 15px;
  }
  .stories {
    position: absolute;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 118px;
    border-radius: 3px;
    border: none;
    overflow: hidden;
  }
  .seta {
    display: none;
  }

  .main {
    width: 100%;
    padding-top: 54px;
  }
  .sidebar {
    display: none;
  }
  .content {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: auto;
  }
  .post:first-child {
    margin-top: 10px;
  }
  .bottom-bar {
    width: 100%;
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 22px;
    height: 54px;
    background-color: #fff;
    padding: 0 20px;
  }
  .header {
    display: none;
  }
  .header-mobile {
    width: 100%;
    position: fixed;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 22px;
    height: 54px;
    background-color: #fff;
    z-index: 2;
    padding: 0 20px;
  }
}
