* {
  box-sizing: border-box;
}
.body {
  width: 100wv;
  font-family: 'Roboto', sans-serif;
  background-color: #e5e5e5;
}
.header {
  background-color: #fff;
  width: 935px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 0;
  font-size: 22px;
}
.header > div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 150px;
  height: 22px;
}
.borda-vertical {
  height: 100%;
  width: 1px;
  background-color: #dbdbdb;
}
.borda-horizontal {
  height: 1px;
  width: 100%;
  background-color: #dbdbdb;
}
.main {
  margin: auto;
  width: 935px;
  display: flex;
  margin-top: 34px;
  position: relative;
}

.content {
  display: flex;
  flex-direction: column;
}
.stories {
  position: absolute;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: 118px;
  border-radius: 3px;
  border: 1px solid #dbdbdb;
}
.stories > div {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.background-stories {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(./images/stories_background.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 66px;
  height: 66px;
}

.stories img {
  width: 56px;
  height: 56px;
  border-radius: 50%;
}
.stories p {
  font: 400 12px 'Roboto', sans-serif;
}
.seta {
  position: absolute;
  color: #ffffff;
  font-size: 32px;
  left: 605px;
}
.posts {
  margin-top: 118px;
  width: 642px;
  height: 600px;
}
.post {
  margin-top: 60px;
  border: 1px solid #dbdbdb;
  border-radius: 3px;
}
.post:first-child {
  margin-top: 24px;
}
.header-post {
  padding: 10px 15px;
  display: flex;
  justify-content: space-between;
}
.header-post div:last-child {
  display: flex;
  justify-content: flex-end;
}
.header-post div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80px;
}
.header-post h2 {
  font: 500 14px 'Roboto', sans-serif;
  color: #262626;
}
.header-post img {
  width: 32px;
  height: 32px;
  border-radius: 50%;
}
.img-post img {
  width: 100%;
}
.icons-post {
  padding: 10px 15px;
  display: flex;
  justify-content: space-between;
}
.icons-post ion-icon {
  margin-right: 14px;
  font-size: 22px;
}
.icons-post ion-icon:last-child {
  margin-right: 0px;
  font-size: 22px;
}
.likes-post {
  padding: 10px 15px;
  display: flex;
  justify-content: ;
  align-items: center;
}
.likes-post img {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin-right: 5px;
}
.likes-post p {
  font: 300 14px 'Roboto', sans-serif;
}
.likes-post span {
  font: 500 14px 'Roboto', sans-serif;
}
.sidebar {
  padding: 18px 0 18px 29px;
  background-color: #fff;
  z-index: 1;
  display: flex;
  flex-direction: column;
  width: 293px;
  height: 600px;
}
.user-perfil {
  display: flex;
  align-items: center;
}
.user-perfil img {
  width: 56px;
  height: 56px;
  border-radius: 50%;
  margin-right: 17px;
}
.user-perfil h2 {
  font: 500 14px 'Roboto', sans-serif;
}
.user-perfil h3 {
  font: 300 14px 'Roboto', sans-serif;
}
.suggestion {
  margin-top: 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font: 500 12px 'Roboto', sans-serif;
}

.suggestion h2 {
  color: #8e8e8e;
}
.suggestion h3 {
  color: #262626;
}
.suggestion-perfil {
  margin-top: 17px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.suggestion-perfil div {
  display: flex;
  align-items: center;
}

.suggestion-perfil div div {
  flex-direction: column;
  align-items: flex-start;
}
.suggestion-perfil img {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  margin-right: 17px;
}
.suggestion-perfil h2 {
  font: 500 14px 'Roboto', sans-serif;
  color: #262626;
}
.suggestion-perfil h3 {
  font: 300 12px 'Roboto', sans-serif;
  color: #8e8e8e;
}
.suggestion-perfil span {
  font: 300 12px 'Roboto', sans-serif;
  color: #139ef2;
}
.footer {
  margin-top: 33px;
  font: 300 11px 'Roboto', sans-serif;
  color: #c7c7c7;
}
.footer h2 {
  margin-top: 18px;
}
